.container {
  width: 100%;
  padding: 0 10.5px;
  overflow: hidden;
}

.catContainer {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  height: min-content;
  display: block;
}

.catalog{
  object-fit: cover;
  width: 100%;
}

.catTitle {
  color: #fff;
  position: absolute;
  z-index: 5;
  font-size: 12px;
  letter-spacing: 1.8px;
  bottom: 4%;
  left: 5.5%;
  font-weight: 500;
}