.container {
  padding: 0 15px;
}

h1.header {
  font-size: 23.8px;
  font-weight: 300;
  color: #272727;
  margin: 20px 0;
  line-height: 36px;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.headPhoto {
  width: 100%;
}