.container {
  padding: 0 15px;
}

.header {
  font-size: 23.8px;
  font-weight: 300;
  color: #272727;
  line-height: 36px; 
}

.empty {
  font-size: 22px;
  color: #444;
  line-height: 1.5;
  font-weight: 500;
  /* margin-bottom: 130px; */
}