@import url("../../Styles/fonts.css");

.container {
  padding: 0 14px;
  margin-bottom: 50px;
}

p.location a {
  display: inline;
  font-size: 11px;
  color: #c4a173;
  letter-spacing: 1.5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

div p.location {
  font-size: 11px;
  margin: 10px 0;
  display: none;
  letter-spacing: 1.5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.carouselContainer {
  /* max-height: calc(100vh - 72px); */
  /* max-height: calc((100vw - 21px) * 1.8125); */
  margin: 0 0 30px;
}

.carouselContainer button {
  margin-top: 85px;
  z-index: 1;
}

.photoContainer img {
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 300;
  color: #272727;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.brand {
  color: #8d7f7f;
  font-size: 12px;
  letter-spacing: 1.8px;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 11.2px;
}

.price {
  padding: 3px 0;
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #272727;
  font-weight: 500;
  margin-bottom: 14px;
}

.klarnaContainer {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  display: flex;
  align-items: center;
}

.klarnaContainer a {
  margin-left: 3px;
}

.ratingContainer {
  display: flex;
}

.starContainer img {
  width: 16px;
}

.ratingContainer p {
  letter-spacing: 1.5px;
  color: #4d4d4d;
  font-weight: 500;
  line-height: 1.5;
  font-size: 10px;
  margin-left: 11px;
}

.review {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: all 0.2s;
  letter-spacing: 1.5px;
  font-size: 10px;
  font-weight: 500;
  margin-top: 10px;
  padding: 2.5px 5px;
  display: inline-block;
  cursor: pointer;
}

.review:hover {
  background-color: black;
}

.sizeTitle {
  margin: 14px 0 11px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.25px;
  counter-reset: #444;
  font-family: Lato, Arial, Helvetica, sans-serif;
  display: block;
  line-height: 1.5;
}

.sizeContainer {
  margin-bottom: 15px;
}

.size {
  margin: 0 5px 5px 0;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  padding: 1px;
  transition: all 0.2s;
  line-height: 1.1;
  min-height: 20px;
  min-width: 40px;
  padding: 15px 10px;
  justify-content: center;
  font-size: 10px;
  color: #272727;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.size:hover {
  border: 1px solid black;
}

li.select {
  background-color: #333;
  border-color: #333;
  color: white;
}

ul li.unavailable {
  background-color: #ddd;
  opacity: 0.3;
  cursor: not-allowed;
}

ul li.unavailable::before {
  background-color: black;
  content: "";
  height: 2px;
  width: 141%;
  bottom: 19px;
  left: -9px;
  position: absolute;
  transform: rotate(-45deg);
}

.addToCart {
  margin-bottom: 20px;
  background-color: #333;
  color: white;
  width: 100%;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1.25px;
  padding: 12.5px 20px;
  line-height: 14px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: block;
  border: none;
}

.wishListContainer {
  margin-bottom: 35px;
}

.wishListBtn,
.wishListMenu div {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 12px;
  letter-spacing: 1.25px;
  padding: 12.5px 20px;
  line-height: 14px;
  border: 1px solid #ccc;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #666;
}

.wishListBtn p {
  display: inline-block;
}

.wishListBtn img {
  width: 16px;
  position: absolute;
  filter: invert(17%) sepia(10%) saturate(15%) hue-rotate(324deg)
    brightness(97%) contrast(90%);
  right: 0;
  margin-right: 10px;
}

.wishListMenu {
  transition: all 0.2s;
  overflow: hidden;
  max-height: 0;
}

div.showWishList {
  max-height: 200px;
}

.wishListMenu div {
  border-top: none;
}

.shippingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.shippingItem:first-child {
  margin-right: 20px;
  padding-right: 15px;
}

.shippingItem {
  display: flex;
  width: 50%;
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #272727;
  font-weight: 500;
  line-height: 1.5;
  align-items: center;
}

.shippingItem img {
  width: 24px;
  margin-right: 10px;
}

.infoContainer {
  margin-bottom: 20px;
}

.infoHeaderContainer {
  padding: 15px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #333;
  letter-spacing: 1.25px;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  color: #444;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.infoHeaderContainer span {
  width: 9px;
  height: 1px;
  top: 50%;
  right: 0;
  position: absolute;
  background-color: black;
  transition: all 0.2s;
}

.rotate {
  transform: rotate(-90deg);
}

.innerInfoContainer,
.mediumInfoContainer {
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s;
}

.mediumInfoContainer {
  max-width: 50%;
}

.innerInfoContainer p,
.innerInfoContainer pre,
.mediumInfoContainer p,
.mediumInfoContainer pre {
  margin-bottom: 10px;
  font-size: 11px;
  letter-spacing: 0.28px;
  color: #272727;
  font-weight: 500;
  line-height: 1.5;
  padding-right: 24.5px;
  font-family: "Work Sans", sans-serif;
}

div.innerInfoContainer pre,
div.mediumInfoContainer pre {
  line-height: 1.3;
}

.innerInfoContainer h6,
.mediumInfoContainer h6 {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.28px;
  font-family: "Work Sans", sans-serif;
  color: #272727;
  margin-bottom: 10px;
  line-height: 1.5;
}

.innerInfoContainer img,
.mediumInfoContainer img {
  width: 100%;
}

.innerInfoContainer a,
.mediumInfoContainer a {
  font-family: "Work Sans", sans-serif;
  color: #c4a173;
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: block;
}

.showInfoData {
  max-height: 900px;
}

.code {
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  color: #333;
}

.code span {
  letter-spacing: 1.25px;
}

.reviews {
  background-color: #f5f2f2;
  padding: 30px 10.5px;
}

.reviewsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.reviewsHeader h1 {
  font-size: 32px;
  font-weight: 300;
  color: #272727;
  line-height: 36px;
}

.reviewsHeader p {
  background: linear-gradient(
    90deg,
    #000 0%,
    #000 49.9%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-repeat: repeat-x;
  background-size: 200% 1.375px;
  background-position: 0 100%;
  padding: 5px 0;
  transition: 0.975s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1.25px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.reviewsHeader p:hover {
  animation: none;
  background-position: -200% 100%;
}

.reviewsStarContainer {
  display: flex;
  margin-bottom: 5px;
}

.reviewsStarContainer img {
  width: 16px;
}

.reviewData h5 {
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #272525;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}

.reviewDate {
  color: #757575;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.reviewContent {
  margin-bottom: 14px;
  letter-spacing: 0.3px;
  color: #272525;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.moreHeader {
  margin: 20px 0;
  font-size: 32px;
  color: #272727;
  line-height: 36px;
  font-weight: 300;
}

@media (min-width: 550px) {
  div p.location {
    display: block;
    margin-bottom: 24px;
  }
}

@media (min-width: 800px) {
  .infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    position: relative;
  }

  .infoContainer li {
    border-bottom: 1px solid #ddd;
  }

  .infoHeaderContainer {
    max-width: 33%;
    border: none;
  }

  li.underLine {
    border-bottom: 1px solid rgb(39, 39, 39);
  }

  .infoHeaderContainer span {
    display: none;
  }

  .innerInfoContainer {
    display: none;
  }

  .showMedium {
    display: block;
    max-height: 900px;
    max-width: 50%;
  }

  .photoContainer {
    padding: 0 5px;
  }
}

@media (min-width: 960px) {
  .upperSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .innerSection {
    padding: 0 14px;
    max-width: 450px;
    margin: 0 auto;
  }

  .carouselContainer {
    align-items: flex-start;
  }

  .carouselContainer button {
    margin-top: 0;
  }
}

@media (min-width: 990px) {
  .container {
    padding: 0 70px;
  }
}
