.container {
  padding: 0 15px 20px;
}

p.location a {
  display: inline;
  font-size: 11px;
}

div p.location {
  font-size: 11px;
  margin: 10px 0;
  display: none;
}

.header {
  font-size: 36px;
  font-weight: 300;
  color: #272727;
  margin-bottom: 20px;
  display: block;
}

.container h3 {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: #444;
  line-height: 1.5;
  display: block;
}

.container p {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin-bottom: 6px;
  line-height: 1.5;
  color: #333;
  display: block;
}

.social {
  color: black;
}

.container a {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: #c4a173;
  cursor: pointer;
  margin-bottom: 6px;
  display: block;
}

@media (min-width: 551px) {
  div p.location {
    display: block;
  }
}

@media (min-width: 768px) {
  .container p {
    margin-bottom: 21px;
  }

  .container a {
    margin-bottom: 21px;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 0 70px 20px;
  }
}
