.container {
  padding: 0 15px 20px;
}

.header {
  font-size: 36px;
  font-weight: 300;
  color: #272727;
  margin-bottom: 20px;
  line-height: 36px;
}

.container p {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin-bottom: 6px;
  line-height: 1.5;
  color: #333;
  display: block;
}

.methods {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.methods div {
  width: 33%;
}

.methods img {
  width: 100%;
}

.methods span {
  background-color: #aaa;
  height: 60px;
  margin:0 20px;
  width: 1px;
}

.klarna {
  height: 55px;
  padding: 10px 0;
}