.container {
  margin: 10px 10px;
  background-color: #f7f4f0;
  padding: 30px 10px;
}

.container h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  color: #272727;
  line-height: 36px;
}

.container p {
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.container a {
  border: 1px solid #707070;
  color: #707070;
  margin: 35px 66.13px 0;
  display: block;
  padding: 12.5px 50px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: 500;
  line-height: 1.5;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: flex-start;
    text-align: left;
    padding: 70px;
  }

  .container p {
    padding: 0 20px;
  }

  .container h2 {
    text-align: left;
  }

  .container a {
    margin: 35px 0 0 20px;
    display: inline-block;
  }
}

@media (min-width: 960px) {
  .container {
    margin: 104px 70px 70px;
  }
}
