@import url("../../../Styles/fonts.css");

.container {
  margin-top: 30px;
}

.header {
  padding: 30px 0 25px;
  font-size: 32px;
  font-weight: 300;
  color: #272727;
  line-height: 36px;
  text-align: center;
}

.catContainer {
  margin-top: 35px;
}

.firstRowContainer {
  display: flex;
  position: relative;
}

.firstRowCat {
  width: 100%;
  margin-bottom: -4px;
}

.firstRowCat img {
  width: 100%;
}

.firstRowCat p,
.secondRowContainer p {
  font-size: 12px;
  letter-spacing: 1.8px;
  font-weight: 500;
  position: absolute;
  color: white;
  bottom: 25px;
  margin-left: 20px;
}

.secondRowContainer {
  position: relative;
}

.secondRowContainer img {
  width: 100%;
}

@media (min-width: 800px) {
  .container {
    padding: 0 2.5px;
  }

  .catContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .secondRowContainer img {
    height: calc((25vw - 2.5px) * 1.485);
    width: 50vw;
    object-fit: cover;
  }

  div.secondRowContainer {
    /* position: inherit; */
    /* overflow: hidden !important; */
  }

  .link {
    overflow: hidden;
  }
}
