.container {
  width: 100%;
  padding: 0 10.5px;
  height: 686px;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.heroPhoto {
  object-fit: cover;
  height: 645px;
  width: 100%;
}

.change {
  animation: photoSlider 0.3s ease-in-out forwards;
}

.fill,
.empty {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
}

.fill {
  background-color: #fff;
  border: 1px solid black;
}

.empty {
  background-color: black;
  border: 1px solid white;
}

.dotContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 0%;
  right: 0%;
  z-index: 5;
}

.loader {
  width: 100%;
  position: block;
}

@keyframes photoSlider {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
