@import url("../../Styles/fonts.css");

.container {
  padding: 0 15px;
  margin-bottom: 21px;
}

.container h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
}

.container p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 21px;
  line-height: 1.5;
  color: #333;
}

.form label {
  display: block;
  margin-bottom: 7px;
  color: rgb(102, 102, 102);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 18px;
}

.form input {
  margin-bottom: 28px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  padding: 10.5px 14px;
  border: 1px solid #ccc;
  display: block;
  height: 42px;
  width: 100%;
}

.form button {
  background-color: #000;
  opacity: 0.8;
  color: #fff;
  width: 53%;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1.25px;
  padding: 12.5px 20px;
  border: none;
  line-height: 14px;
  display: inline-block;
  font-weight: 400;
  font-family: Lato, Arial, Helvetica, sans-serif;
}