@import url("../../../Styles/fonts.css");

.filterContainer {
  margin-bottom: 20px;
  line-height: 1.5;
  border: 1px solid black;
}

.filterHeaderContainer {
  display: flex;
  border-bottom: 1px solid black;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 12.5px 15px;
}

.filterHeader p {
  color: #333;
  font-size: 12px;
  letter-spacing: 1.25px;
  font-weight: 500;
  cursor: pointer;
}

.sortHeader {
  border-left: 1px solid black;
}

.filterHeader img {
  width: 8px;
}

.refineItem {
  border-top: 1px solid black;
  padding: 15px 15px;
}

.refineHeader {
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 12px;
  letter-spacing: 1.25px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
}

.plus,
.minus {
  font-size: 15px;
}

.minus {
  transform: scale(1.8, 1);
  margin-right: -3px;
}

.clear {
  margin-right: 10px;
}

.sizes,
.price {
  transition: all 0.2s;
  overflow: hidden;
  max-height: 0;
}

div.openSize {
  padding: 20px 0 15px;
  max-height: 200px;
}

div.openPrice {
  padding-top: 20px;
  max-height: 200px;
}

.hidden {
  display: none !important;
}

.plusMinus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkboxContainer {
  display: inline-block;
  width: 50%;
  margin-bottom: 5px;
  padding: 3px 0;
  cursor: pointer;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
}

.checkboxContainer p {
  display: inline;
  text-transform: uppercase;
  color: #555;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.checkbox {
  width: 16px;
  height: 16px;
  background-color: #272727;
  display: inline-block;
  margin-right: 10px;
  background-color: #f2f2f2;
}

.checked {
  background-color: #333 !important;
}

.sizeContainer {
  align-items: center;
  display: flex;
}

.cross {
  width: 16px;
  height: 15px;
  display: inline;
  padding: 4px;
  background-color: #e5e5e5;
  border-radius: 100%;
  margin-right: 15px;
  transition: all 0.1s;
  opacity: 0;
}

.checkboxContainer:hover .showCross {
  opacity: 1;
}

.priceInputContainer {
  display: flex;
  width: 100%;
}

.priceInputContainer input {
  width: 50%;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  color: #4d4d4d;
  padding: 0 5.25px;
  border: none;
  letter-spacing: 1.65px;
  height: 32px;
}

.update {
  font-size: 11px;
  letter-spacing: 1.65px;
  color: #4d4d4d;
  line-height: 14px;
  cursor: pointer;
  font-weight: 400;
  font-family: Lato, Arial, Helvetica, sans-serif;
  padding: 0 5.25px;
  margin-top: 5px;
}

.error {
  color: #cc4749;
  display: flex;
  line-height: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  margin-top: 9px;
}

.error img {
  width: 14px;
  margin-right: 3px;
}
