.bottomDots {
  margin-bottom: 12px;
}

.container {
  height: calc(100vh - 72px);
  max-height: calc((100vw - 21px) * 1.8125);
  margin: 0 10.5px;
  cursor: pointer;
}

.bottomDots button {
  border-color: white;
  border-width: 1px;
  width: 10px;
  height: 10px;
}

@media (min-width: 800px) {
  .container {
    margin: 0 10.5px 80px;
    object-fit: contain;
    height: auto;
  }

  .items div img {
    width: 100%;
  }
}