.bottomDots {
  margin-bottom: 12px;
}

.container {
  height: calc(100vh - 72px);
  max-height: calc((100vw - 21px) * 1.8125);
  margin: 0 10.5px;
}

.bottomDots button {
  border-color: white;
  border-width: 1px;
  width: 10px;
  height: 10px;
}