@import url("../../../Styles/fonts.css");

.bottomDots button {
  background-color: white;
  border-color: white;
  border-width: 1px;
  width: 10px;
  height: 10px;
}

.innerContainer {
  position: relative;
  height: calc(100vh - 72px);
  max-height: calc((100vw - 21px) * 1.8125);
  display: block;
}

.sliderLink {
  position: absolute;
  color: white;
  z-index: 15;
  bottom: 56px;
  border: 1px solid white;
  font-size: 12px;
  letter-spacing: 1.6px;
  padding: 12.5px 20px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  width: 202px;
  line-height: 1.5;
  margin-left: 50vw;
  transform: translateX(-50%);
  display: inline-block;
}

.bottomDots {
  margin-bottom: 12px;
}

.container {
  margin-top: 100px;
  max-height: calc((100vw - 21px) * 1.8125);
}
